<!DOCTYPE html >
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sign in</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
  </head>
  <body>
    <section class="section">
      <div id="app" class="container box">
        <div class="columns is-centered">
          <div class="column has-text-centered box"  style="padding-top:30px; padding-bottom:30px;">
            <figure>
              <img src="../images/ccnyScience.png" alt="CCNY Science" class="ccnyScience">
            </figure>
          </div>
        </div>
        <template v-if="showSignin">
          <div class="columns is-centered box">
              <div id="signin" class="column is-halfx has-text-centered box">
                <div class="title">Sign in</div>
                  <form id="loginData" method="post" action="">

                    <div class="field">
                      <div class="control">
                        <input class="input" type="text" id="invoiceNum" name="invoiceNum" placeholder="Invoice Number" v-model="invnumb">
                      </div>
                    </div>

                    <div class="field">
                      <div class="control">
                        <input class="input" type="text" id="yraccesscode" name="yraccesscode" placeholder="Access Code" v-model="accessCode">
                      </div>
                    </div>

                    <div class="g-recaptcha" data-sitekey="6LdR1VoUAAAAAChXLPyogwEj2VhGgbA95XXRgCuF"></div>

                    <div class="control has-text-centered" >
                      <input class="button is-link" type="submit" value="Submit" v-on:click.prevent="signin">
                    </div>
                  </form>
              </div>
          </div>
        </template>
        <!-- results -->
        <template v-if="showDetails">
          <div class="columns is-centered box">
            <div class="column has-text-centered box">
              <div class="title">
                <p>Invoice Details</p>
                <p class="subtitle">Due Date: {{results.dueDate}}</p>
              </div>
              <div id="output" class="columns is-half has-text-centered box">
                <div class="column has-text-centered box">
                  <services v-for="invoice in results.invoiceItemsArray[0]" v-bind:value="invoice"> </services>
                </div>
              </div>

            </div>
          </div>
          <div class="control has-text-centered" >
            <input class="button is-link" type="submit" value="View Another Invoice" onclick="window.location.reload()">
          </div>
        </template>
      </div><!-- container -->
    </section>
    <script src="../Src/js/signinVue.js"></script>
  </body>
</html>
